@use 'toolbox' as *;

:host {
  @extend %page-host-layout;
}

.not-found-page {
  @extend %page-wrapper-layout;
  border-radius: 16px;

  &__illustration {
    width: 300px;
    border-radius: inherit;
  }
}
