@use 'toolbox' as *;

:host {
  @extend %page-host-layout;
}

.order-page {
  @extend %page-wrapper-layout;

  &__title {
    @extend %title-layout;
  }

  &__illustration {
    width: 300px;
    border-radius: 8px;
  }

  &__content {
    display: flex;

    app-table {
      border-top-left-radius: 0;
    }
  }

  &__quantity-field {
    width: 4rem;
    padding: 0.25rem;
    border: 1px solid var(--color-primary-50);
    border-radius: 4px;
  }
}
