@use 'toolbox' as *;

:host {
  @extend %page-host-layout;
}

.order-page {
  @extend %page-wrapper-layout;

  &__title {
    @extend %title-layout;
  }

  &__illustration {
    width: 300px;
    border-radius: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__table {
    display: flex;

    app-table {
      border-top-left-radius: 0;
    }
  }

  &__actions,
  &__fields {
    padding-left: 170px;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__field {
    min-width: 200px;
  }

  &__quantity-field {
    width: 4rem;
    padding: 0.25rem;
    border: 1px solid var(--color-primary-50);
    border-radius: 4px;
  }
}
