$colors: (
  primary: (
    0: #000000,
    10: #04210f,
    20: #0b3f22,
    25: #12602c,
    30: #1f5b3a,
    35: #256243,
    40: #2f7251,
    50: #3a7755,
    60: #54906e,
    70: #72aa89,
    80: #96c8ac,
    90: #b6dec8,
    95: #c9e7d4,
    98: #dff8e8,
    99: #f3fff7,
    100: #ffffff,
  ),

  secondary: (
    0: #000000,
    10: #101f2a,
    20: #223643,
    25: #2b4250,
    30: #334c5d,
    35: #3c5566,
    40: #446275,
    50: #4c6d8c,
    60: #6784a0,
    70: #8fa7c0,
    80: #b6cbe1,
    90: #d1e4f7,
    95: #dcebf9,
    98: #eff7fd,
    99: #f9fbff,
    100: #ffffff,
  ),

  tertiary: (
    0: #000000,
    10: #301323,
    20: #502c41,
    25: #5a374b,
    30: #6a4259,
    35: #735167,
    40: #80526d,
    50: #94637f,
    60: #a97792,
    70: #c292ac,
    80: #dbadc6,
    90: #ffd9e7,
    95: #ffe1ed,
    98: #fff5f9,
    99: #fff8fa,
    100: #ffffff,
  ),

  success: (
    0: #000000,
    10: #00210b,
    20: #003917,
    25: #00461d,
    30: #005524,
    35: #11622f,
    40: #1e703b,
    50: #388e50,
    60: #52ab66,
    70: #73c383,
    80: #9ee9a8,
    90: #c2f8cb,
    95: #dcfce1,
    98: #f1fef3,
    99: #f8fff9,
    100: #ffffff,
  ),

  warning: (
    0: #000000,
    10: #261a00,
    20: #432c00,
    25: #553500,
    30: #664000,
    35: #755000,
    40: #856000,
    50: #a37900,
    60: #c2921b,
    70: #e0ab3c,
    80: #fcd064,
    90: #ffe6b2,
    95: #fff1d9,
    98: #fff9ef,
    99: #fffcf7,
    100: #ffffff,
  ),

  info: (
    0: #000000,
    10: #001d35,
    20: #003254,
    25: #003d65,
    30: #004877,
    35: #1b5582,
    40: #2d648f,
    50: #4280a8,
    60: #5c9bc2,
    70: #7cb5db,
    80: #a6d6f5,
    90: #d0ecfd,
    95: #e7f4fe,
    98: #f3faff,
    99: #fafdff,
    100: #ffffff,
  ),

  error: (
    0: #000000,
    10: #410002,
    20: #680003,
    25: #7a0003,
    30: #930006,
    35: #9c1411,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffe1de,
    98: #fff6f5,
    99: #fffbf9,
    100: #ffffff,
  ),

  neutral: (
    0: #000000,
    10: #1c1c1c,
    20: #333333,
    25: #3a3a3a,
    30: #4c4c4c,
    35: #545454,
    40: #5e5e5e,
    50: #666666,
    60: #828282,
    70: #a0a0a0,
    80: #c0c0c0,
    90: #dddddd,
    95: #e5e5e5,
    98: #f5f5f5,
    99: #fafafa,
    100: #ffffff,
  ),

  neutral-variant: (
    0: #000000,
    10: #1a1b17,
    20: #323427,
    25: #3a3c2f,
    30: #474933,
    35: #515136,
    40: #5a5b3a,
    50: #676740,
    60: #858660,
    70: #a1a27c,
    80: #bfc0a0,
    90: #dbdcbc,
    95: #e6e7ca,
    98: #f5f6e8,
    99: #fbfbee,
    100: #ffffff,
  ),
);

%page-host-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-secondary-95);
}

%page-wrapper-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-neutral-100);
}
