@use 'sass:meta';

@use 'toolbox' as toolbox;

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  @each $category, $weights in toolbox.$colors {
    @each $weight, $color in $weights {
      --color-#{$category}-#{$weight}: #{$color};
    }
  }
}
