@use 'toolbox' as *;

:host {
  @extend %page-host-layout;
}

.review-page {
  @extend %page-wrapper-layout;

  &__title {
    @extend %title-layout;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    color: var(--color-neutral-500);
    font-size: 1rem;
    line-height: 1.5rem;

    strong {
      color: var(--color-primary-900);
      font-weight: 500;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}
